<div class="header">
    <div class="header__wrapper">
        <a class="header__logo-wrapper" href="#">
            <img class="header__logo" src="{{ settings.logo | img_url: 'master'}}" alt="{{ settings.logo.alt }}">
        </a>
    </div>
</div>