<section class="featured-products">
    <div class="featured-products__items">
        {% render 'product-title' 
            for collections[section.settings.collection].products as product
         %}
    </div>
</section>

{% schema %}
{
    "name": "Featured Products",
    "settings": [
        {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
        }
    ],
    "presets": [
        {
            "category": "Products Display",
            "name":"Featured Products"
        }
    ]
}
{% endschema %}